# Ignorar dependencias de Composer
vendor
node_modules

# Ignorar archivos de logs y cache
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache

# Ignorar archivos de entorno locales
.env
.env.*.backup

# Ignorar IDE y sistema
.idea
.vscode
*.swp
*.DS_Store

# Ignorar archivos de Git
.git
.gitignore
